.slide-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  font-size: 40px;
}

.slide-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: purple;
  font-size: 80px;
}
